#nav{
    color: black;
    display: flex;
    position: fixed;
    width: 80vw;
    padding: 2vw 10vw;
    height: 3vw;
    overflow: hidden;
    transition: 0.3s;
    z-index: 499;
}
#nav a{
    color: white;
    text-shadow: 2px 2px 2px;
}

#nav .ul{
    width: auto;
    float: right;
    height: 3vw;
    margin-left: auto;
    margin-right: 0;
}
#nav .ul .li{
    display: inline-flex;
    height: 3vw;
    align-items: center;
    color: black;
    margin-right: 1.2vw;
}
#nav .ul .li text{
    color: #ffffff;
    margin: auto;
}
#nav .logo{
    float: left;
    margin-left: 0;
    margin-right: auto;
    height: 2vw;
    width: 2vw;
    padding: 1vw 0;
}
#nav .logo_colored{
    display: none;
}
a{
    text-decoration: none;
    color: #1F1F1F;
}
#activenav{
    color: white;
    background: black;
    box-shadow: 0 0 0.6vw 0.05vw RGBA(0,0,0,0.1);
    display: flex;
    position: fixed;
    width: 80vw;
    padding: 1vw 10vw 1vw 10vw;
    height: 3vw;
    overflow: hidden;
    transition: 0.3s;
    z-index: 499;
    align-items: center;
}
#activenav .ul{
    color: white;
    color: white;
    width: auto;
    float: right;
    height: 3vw;
    margin-left: auto;
    margin-right: 0;
}
#activenav a{
    color: white;

}
#activenav .ul .li{
    color: white;
    display: inline-flex;
    height: 3vw;
    font-size: 1.2vw;

    align-items: center;
    color: #151515;
    margin-right: 1.2vw;
}
#activenav text{
    color: white;
    margin: auto;
}
#activenav .avatar{
    color: white;
    width: 2vw;
    height: 2vw;
    border-radius: 100vw;
    background-size: cover;
}
#activenav .logo_colored{
    float: left;
    margin-left: 0;
    margin-right: auto;
    height: 2vw;
    width: 2vw;
    padding: 1vw 0;
}
#activenav .logo {
    display: none;
    color: white;
}

#mobilenav{display: none;}
#mobilenavdiv{display: none;}
@media (max-width: 1000px){
    #nav {display: none;}
    #activenav {display: none;}

    #mobilenav{
        position: fixed;
        width: 80vw;
        padding: 5vw 10vw;
        display: flex;
        z-index: 499;
    }
    #mobilenav #opennav{
        width: 9vw;
        height: 9vw;
        margin-left: auto;
        margin-right: 0;
        border: none;
        background: #6396F7;
        box-shadow: 0 0 1.2vw 0.3vw #6396F7;
        display: inline-flex;
        border-radius: 1200vw;
    }
    #mobilenav #opennav img{
        margin: auto;
        width: 2vw;
        height: 2vw;
    }
    #mobilenavdiv{
        position: fixed;
        background: white;
        width: 80vw;
        padding: 0 10vw;
        right: -100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 498;
    }
    #mobilenavdiv .align{
        margin: auto;
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
    }
    #mobilenavdiv .li{
        margin: auto;
        margin-top: 7vw;
        font-size: 6vw;
        padding: 0.8em 1.6em;
        margin-left: 0;
        border-radius: 4vw;
        color: rgba(34,34,34,1.00);
        background: rgba(0,0,0,0.015);
        border: 0.02em rgba(0,0,0,0.15) solid;
        width: 80%;
    }
}