::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  	background: rgba(0,0,0,0.11);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #6396F7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #6396F7;;
}